#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f7f3;
}
/* === CUSTOM SCROLLBAR === */
.custom-scrollbar {
  overflow-y: auto;   /* OBLIGATORIU */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;         /* grosime scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fe414d; /* thumb */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e11d48;
}

/* === FIREFOX === */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fe414d #e5e7eb;
}
